body {
  background-color: #ccc;
  margin: 0;
  padding: 0;
}

.frame {
  height: 100vh;
}

.info {
  margin-left: 50px;
  height: 7vh;
}

.search * {
  display: inline-block;
}

.location div {
  display: inline-block;
}

.markerinfo * {
  display: inline-block;
}

.container {
  width: 100%;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  /* border-radius: 15px; */
  width: inherit;
  height: inherit;
  /* margin: 0 auto; */
}

#map,
#pano {
  float: left;
  height: 100%;
  width: 50%;
}
